/* 
Author: Arteom Avetissian
Created: 10/01/23
@aavetiss, Purdue University
This will serve as the UI for the edit profile page
*/

/* main container */
div {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

/* heading */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Futura', sans-serif;
}

/* labels */
.label {
    font-size: 14px;
    margin-bottom: 5px;
    font-family: 'Futura', sans-serif;
}

/* input fields */
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Futura', sans-serif;
}

/* phone number input */
.phone-label {
    font-size: 14px;
    margin-bottom: 5px;
    font-family: 'Futura', sans-serif;
}

.phone-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Futura', sans-serif;
}

/* checkbox */
input[type="checkbox"] {
    margin-top: 5px;
}

/* account status: public or private */
div label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
    font-family: 'Futura', sans-serif;
}

div span {
    font-size: 14px;
    margin-bottom: 15px;
    display: block;
    font-family: 'Futura', sans-serif;
}

/* Style for the Save button */
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #db151c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Futura', sans-serif;
}

button:hover {
    background-color: #e60f0f;
}
