.switch-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    border: 1px solid #ddd;
    padding: 10px 0;
    margin: 0 auto;
}
.team-container {
    display: flex;
    align-items: center; /* vertical alignment */
    justify-content: center; /* horizontal alignment */

}


.team-card input,
.team-card textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.team-card button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.team-card button:hover {
    background-color: #0056b3;
}

.switch-option {
    flex: 1;
    text-align: center;
    cursor: pointer;
    padding: 10px 0;
    border-radius: 5px;
    color: black;  /* Default text color is black */
    transition: background-color 0.3s;  /* smooth transition for background changes */
}

.switch-container.team-selected .switch-option:first-child,
.switch-container.event-selected .switch-option:last-child {
    background-color: #007BFF;
    color: black;  /* Text color for selected option is white */
}

.friends-list-container {
    text-align: center;
    margin: 20px;
}

.friends-list-title {
    margin-bottom: 15px;
    color: #333;
    font-size: 1.5em;
}

.friends-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.friend-item {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.friend-email {
    margin-bottom: 10px;
}

.friend-checkbox {
    margin-right: 10px;
}

.team-select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.team-select option[value="red"] {
    background-color: lightcoral;
}

.team-select option[value="blue"] {
    background-color: lightblue;
}
.team-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.team-card {
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 45%;
}

.green-team {
    background-color: lightgreen;
    border-left: 5px solid darkgreen;
}

.blue-team {
    background-color: #ddddff;
    border-left: 5px solid darkblue;
}

.team-title {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
}

.team-member {
    font-size: 0.9em;
    margin: 5px 0;
    color:#113
}

.event-title-container {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center;     /* Vertically center */
    height: 100px;           /* Adjust height as needed */
}

.event-title {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    color: #333;
    font-weight: bold;
}

.sports-icon {
    width: 30px;
    height: 30px;
    fill: #555;
    margin-left: 10px;
}
